body{
	box-sizing:border-box;
	margin:0%;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
	"wdth" 100;
	background-color:beige;
}

.home{
	margin-top:7%
}

header{
	position:fixed;
	top:0;
	padding:0.5%;
	background-color:#D27D2D;
	color:white;
	z-index:5;
}

.logo{
	border:0px solid white;
	border-radius:100px;
	margin:0% 0% 0% 5%
	
}

.inline{
	display:inline-block;
}

nav input{
	vertical-align:top;
	margin:0.8% 0% 0% 3%;
	border:0px solid grey;
	border-radius:30px;
	width:20%;
	height:25px;
}

.a{
	margin:0.2% 0% 0% 5%;
	width:100px;
	
}

nav a{
	vertical-align:top;
	display:inline-block;
	margin:0.8% 0% 0% 4%;
	font-size:20px;
	color:white;
	text-decoration:none;
}

.mar1{
	vertical-align:top;
	margin:0.8% 0% 0% 1%;
}

.pro{
	vertical-align:top;
	margin:0% 0% 0% 1.5%;
	border-radius:30px
}

section{
	margin:2% 0% 0% 0%
}


.div1{
	position:absolute;
	top:30%;
	left:20%;
	color:white;
	font-size:40px;
}

.div2{
	background-color:#D27D2D;
	padding:0.5%;
}

.div3{
	margin:1% 0% 0% 2.5%;
	padding:1%;
	background-color:white;
	width:20%
}

.h1{
	color:lightyellow;
	opacity:0.9;
}

.img1{
	background-image:url("https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/2026/JULY/7/oNtLl6fu_c346a800924d418d942073315d44d528.jpg");
	height:400px;
	background-size:cover;	
	
}

.img2{
	background-image:url("https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/2025/DECEMBER/30/n3zpjpEg_8987b2876e18459791ab3c1cb58e2a11.jpg");
	height:400px;
	background-size:cover;		
}

.img3{
	background-image:url("https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/2025/SEPTEMBER/9/iEDCD2ce_abefae102f66461884a9d80f7ee7213f.jpg");
	height:400px;
	background-size:cover;		
}

.img4{
	background-image:url("https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/2026/MARCH/6/gwSLivOr_ba2cdc2e28744059a6c302ee13430d29.jpg");
	height:400px;
	background-size:cover;		
}

.head{
	margin:0% 0% 0% 1%;
	color:white;
}

figcaption b{
	font-size:28px;
}

figcaption{
		margin:2% 0% 0% 0%

}

b del{
	color:#282c3f;
	font-size:16px
}

b span{
	color:#ff905a;
	font-size:16px
	
}

figcaption p{
	color:#535665;
}

.price{
	font-size:20px
}